<div class="container-fluid">
    <h1>Hello from the Model Sandbox Component</h1>
<!-- On Event -->
<!-- ngSubmit : easily pass values on submit -->
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <label>Name</label>
<!-- Standard ngModel Syntax -->
            <input 
                type="text"
                class="form-control"
                [(ngModel)]="user.userName" 
                name="userName"
                #useName="ngModel"
                minlength="2"
                required
            > 
<!-- Alerts for required parameters-->
<!-- touched directive -->
            <div *ngIf="useName.errors?.required && useName.touched" class="alert alert-danger">*Required</div>
            <div *ngIf="useName.errors?.minlength && useName.touched" class="alert alert-danger">*Input too short</div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input 
                type="text"
                class="form-control"
                [(ngModel)]="user.userEmail" 
                name="userEmail"
                #useEmail="ngModel"
                minlength="2"
                required
            >
            <div *ngIf="useEmail.errors?.required && useEmail.touched" class="alert alert-danger">*Required</div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input 
                type="text"
                class="form-control"
                [(ngModel)]="user.userPhone" 
                name="userPhone"
                #usePhone="ngModel"
                minlength="10"
            >
            <div *ngIf="usePhone.errors?.minlength && usePhone.touched" class="alert alert-danger">*Input a valid phone number</div>
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
    </form><hr>
     <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">{{ user[1] }}</li>
    </ul>  -->
</div>