<h1>{{ name }} is {{ age }} years old </h1>
<h2>{{ hasChildren }}</h2>
<h2>{{ person.firstName }} {{ person.lastName }} is {{ person.age }} years old</h2>
<!-- Use *ngFor directive to display each item of an Array,the * is necessary for the syntax
    https://angular.io/guide/displaying-data#showing-an-array-property-with-ngfor -->
<h2>{{ tupleArray[0] }} is {{ tupleArray[1] }} years old</h2><hr>
<h1>ngFor</h1>
<ul>
    <li *ngFor="let per of people">{{ per }}</li>
</ul><hr>
<ul>
    <li *ngFor="let pers of people; let i = index">#{{ i }} - {{ pers }}</li>
</ul><hr>
<h1>ngIf</h1>
<ul>
    <li *ngFor="let perso of people_2; let i = index">
        <span *ngIf="perso.showName">#{{ i }} - {{ perso.firstName }} {{perso.lastName}}</span>
        <!-- If not syntax -->
        <span *ngIf="!perso.showName">#-- - private</span>
    </li>
</ul><hr>
<h1>Else Statement & Templates</h1>
<ul>
    <li *ngFor="let perso of people_2; let i = index">
        <!-- Else Statement by defining a template -->
        <span *ngIf="perso.showName; else noName">#{{ i }} - {{ perso.firstName }} {{perso.lastName}}</span>
        <ng-template #noName>#-- - private</ng-template>
        <!-- There can be as many different templates as there can be ids --> 
        <ng-template #noAge>#-- - private</ng-template>
    </li>
</ul><hr>
<h1>Ternary Operators</h1>
<ul>
    <!-- Ternary Operators -->
    <li *ngFor="let persona of people_2; let i = index">
        # {{ persona.i }}
        {{ persona.showName ? i: '--' }}
        {{ persona.showName ? persona.firstName: '--' }} 
        {{ persona.showName ? persona.lastName: '--' }}
    </li>
</ul><hr>
<h1>ngSwitch</h1>
<ul>
    <!-- ngSwitch -->
    <li *ngFor="let persona of people_2; let i = index">
        <div [ngSwitch]="persona.greeting">
            <span *ngSwitchCase="1">Hi</span>
            <span *ngSwitchCase="2">Hola</span>
            <span *ngSwitchCase="4">What sup!</span>
            <span *ngSwitchDefault>--</span>
            {{ persona.showName ? persona.firstName: '--' }} 
            {{ persona.showName ? persona.lastName: '--' }}
        </div>
        
    </li>
</ul><hr>
<h1>Binding Properties</h1>
<h2><span [textContent]="imageUrl"></span></h2>
<div><img src="{{ imageUrl }}"></div>
<div><img [src]= "imageUrl"></div>
<div><img bind-src="imageUrl"></div><hr>
<h1>Create a Post</h1>
<div><img src="{{ imageUrl }}"></div>
@ {{ people_2[1].firstName }}
<p [hidden]="hasChange">The post has been changed</p>
<button [disabled]="hasChange">Save</button><hr>
<!-- Style binding -->
<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
    <p>*font size determined by isSpecial</p>
    <ul>
        <li *ngFor="let persona of people_2; let i = index">
            # {{ persona.i }}
            {{ persona.showName ? i: '--' }}
            {{ persona.showName ? persona.firstName: '--' }} 
            {{ persona.showName ? persona.lastName: '--' }}
        </li>
    </ul><hr>
</div>
<!-- ngStyle -->
<div [ngStyle]="currentStyles">
    <p>styled through a function in the constructor</p>
    <ul>
        <li *ngFor="let persona of people_2; let i = index">
            # {{ persona.i }}
            {{ persona.showName ? i: '--' }}
            {{ persona.showName ? persona.firstName: '--' }} 
            {{ persona.showName ? persona.lastName: '--' }}
        </li>
    </ul><hr>
</div>
<!-- Filters -->
<div>
    <p>Today is {{ fecha | date }}</p>
    <p>Today is {{ fecha | date:"MM-dd-yyyy" }}</p>
    <p>Today is {{ fecha | date:"yyyy" }}</p>
    <p>Today is {{ 'cake' | uppercase }}</p>
    <p>Total {{ dinero | currency }}</p>
    <p>Total {{ dinero | currency:"GBP":"1" }}</p>
    <p>Percent {{ fee | percent }}</p>

</div>


