<div class="container-fluid">
    <h1>Hello from the Service Sandbox Component</h1>
    <h4>Data Service</h4>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">{{ user }}</li>
    </ul>
</div><hr>
<div class="container-fluid">
    <h4>Observable</h4>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let d of data">{{ d }}</li>
    </ul>
</div><hr>
<div class="container-fluid">
    <h4>Http Request JSON Object</h4>
    <form (submit)="onSubmit(isEdit)">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="userHttp.name" name="name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="userHttp.email" name="email">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="userHttp.phone" name="phone">
        </div>
        <input type="submit" class="btn btn-success" value="Submit">
    </form><hr>
    <div *ngFor="let obj of usersHttp">
        <ul class="list-group">
            <li class="list-group-item">Name: {{ obj.name }}</li>
            <li class="list-group-item">Email: {{ obj.email }}</li>
            <li class="list-group-item">Phone: {{ obj.phone }}</li>
        </ul>
        <button class="btn btn-primary btn-sm" (click)="onEditClick(obj)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="onDeleteClick(obj.id)">X</button><hr>
    </div>
    
</div>