<h1>Hello from the Second Component</h1>
<!-- Event inside parenthesis -->
<button id="btn" (click)="fireEvent($event, 'Click')">Click Event</button><hr>
<button id="btn" (mouseover)="fireEvent($event, 'Mouse Over')">Click Event</button><hr>
<button id="btn" (mousedown)="fireEvent($event, 'Mouse Down')">Click Event</button><hr>
<button id="btn" (mouseup)="fireEvent($event, 'Mouse Up')">Click Event</button><hr>
<button id="btn" (dblclick)="fireEvent($event, 'Double 
Click')">Click Event</button><hr>
<button id="btn" (drag)="fireEvent($event, 'Drag')">Click Event</button><hr>
<!-- Changing Properties with events -->
<h1>Changing Properties with events</h1>
<p>{{ text }}</p>
<button (click)="changeValue()">Change Value</button><hr>
<div *ngIf="value">
    <h1>{{ text }}</h1>
</div>
<p>{{ value }}</p>
<button (click)="booleanChange()">Change Value</button><hr>
<!-- Keyboard Events -->
<div>
    <input type="text" (keyup)="keyEvent($event)" placeholder="Key Up"><hr>
</div>
<div>
    <input type="text" (keydown)="keyEvent($event)" placeholder="Key Down"><hr>
</div>
<div>
    <input type="text" (focus)="keyEvent($event)" placeholder="Focus"><hr>
</div>
<div>
    <input type="text" (blur)="keyEvent($event)" placeholder="Blur"><hr>
</div>
<div>
    <input type="text" (cut)="keyEvent($event)" placeholder="Cut"><hr>
</div>
<div>
    <input type="text" (copy)="keyEvent($event)" placeholder="Copy"><hr>
</div>
<div>
    <input type="text" (paste)="keyEvent($event)" placeholder="Paste"><hr>
</div>
<div>
    <p> {{ text_2 }} </p>
    <input type="text" (keyup)="changeText($event)" placeholder="Change Text"><hr>
</div>